/* Reset CSS */
@import url("reset.css");

:root {
  /* Primary Colors */
  --clr-primary600: #4d96a9; /* Muted Cyan */
  --clr-primary300: #8fe3f9; /* Bright Cyan */
  --clr-secondary600: #855fb1; /* Dark Purple */
  --clr-secondary300: #d9b8ff; /* Light Purple */

  /* Neutral Colors */
  --clr-neutral900: #28283d; /* Dark Grey */
  --clr-neutral600: #87879d; /* Medium Gray */
  --clr-neutral300: #d1d1df; /* Light Gray */
  --clr-neutral000: #fafafa; /* White */

  --ff-primary: "Red Hat Display", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-black: 900;
  --fw-medium: 500;

  --fs-800: 4rem;
  --fs-600: 2.5rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;

  --spacing-1400: 7rem;
  --spacing-1000: 5rem;
  --spacing-900: 4.5rem;
  --spacing-800: 4rem;
  --spacing-700: 3.5rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-100: 0.5rem;
  --spacing-50: 0.25rem;
}

/* Utility Classes */

body  /* Text Preset 4 */ {
  color: var(--clr-neutral900);
  font-family: var(--ff-body);
  line-height: 110%;
  letter-spacing: 0;
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
}

/* Text Preset 1 */
.text-heading-800 {
  font-size: var(--fs-800);
  font-weight: var(--fw-black);
}
/* Text Preset 2 */
.text-heading-600 {
  font-size: var(--fs-600);
  font-weight: var(--fw-black);
}
/* Text Preset 3 */
.text-body-accent {
  letter-spacing: 4px;
  font-size: var(--fs-400);
  font-weight: var(--fw-black);
  color: var(--clr-primary600);
}

/* Text Preset 5 */
.text-body-bold {
  line-height: 150%;
  font-size: var(--fs-400);
  font-weight: var(--fw-black);
}
